.search_result {
	color: MidnightBlue;
	text-align center;

}

.search_result a {
	color: RoyalBlue;

}

.search-box {
	position: absolute;
	top: 40%;
	left: 22%;

}

.search-box button {
	height: 32px;
	width: 32px;
	margin-left: -5px;
	background: LightGrey;
	font-size: 17px;
	border: none;

}

.search-box input(type=text) {
	height: 26px;
	font-size: 17px;
	width: 50vw;

}
