@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.footer{
    background-color: #be9b7e;
    padding: 70px 0;
}

.wrapper{
    max-width: 1120px;
}

.footer_title{
    color: white;
    font-family: 'Special Elite', cursive;
}

.one_quarter{
    width: 20%;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}