.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 55px 0;
}

.wrapper.row1{
    background-color: #be9b7e;
}
.footer{
  
   height: 1px; 
}